---
layout: default
---

<!-- Headliners - Desktop -->
<div class="swiper-container show-for-large">

  <div class="swiper-button-prev-test flex-container align-center-middle primary-color margin-left-1"><svg class="icon icon-arrow icon-arrow_back"><use xlink:href="/assets/icons/symbol-defs.svg#icon-arrow_back"></use></svg></div>
  <div class="swiper-button-next-test flex-container align-center-middle primary-color margin-right-1"><svg class="icon icon-arrow icon-arrow_forward"><use xlink:href="/assets/icons/symbol-defs.svg#icon-arrow_forward"></use></svg></div>

  <div class="swiper-wrapper">
    {% for act in page.carousel %}
    {% assign image = act.image %}
    <div class="swiper-slide small-12 cell text-center">
      <div class="image--panorama align-center-middle" data-interchange="{% include images/interchange-img-small-12-medium-12-cell.html %}">
        
        <div class="grid-y height-100 align-center content">
          <div class="shrink cell text-center">
          <a href="/line-up/{{act.line-up | slugify}}">
            <h1 class="white text-lowercase">{{act.name}}</h3>
            <h5 class="white">{{act.subheader}}</h5>
            {% if day.is-sold-out == true %}
            <p>Sold Out</p>
            {% endif %}
          </a>
          </div>
        </div>
  
      </div>
    </div>
    {% endfor %}
  </div>

</div>
<!-- End Headliners - Desktop -->

<!-- Headliners - Mobile -->
<div class="grid-x small-up-1 medium-up-2 large-up-4 xlarge-up-4 hide-for-large">
  {% for act in page.carousel %}
  <div class="cell">
    <a href="/line-up/{{act.line-up | slugify}}"> 
      {% assign image = act.image %}
      {% include blocks/excerpt.html %}    
    </a>
  </div>
  {% endfor %}
</div>
<!-- End Headliners - Mobile -->

<!-- Descriptions -->
<div class="grid-container">
  <div class="grid-x grid-padding-x grid-padding-y align-center">
    <div class="small-12 cell text-center padding-vertical-3">
      <h3 class="text-lowercase">A scintillating array of UK’s finest comedy, street food, craft beers and cocktails neatly placed in the grounds of Brighton’s Preston Park... Oh, and a whole load of entertainment too!
    </div>
  </div>
</div>
<!-- End Descriptions -->


<!-- Featured -->
<div class="grid-x small-up-1 medium-up-2 large-up-4 xlarge-up-4">
  {% for act in page.featured %}
  <div class="cell acts">
    <a href="/line-up/{{act.line-up | slugify}}"> 
      {% assign image = act.image %}
      {% include blocks/excerpt.html %}    
    </a>
  </div>
  {% endfor %}
</div>
<!-- End Featured -->

<!-- Line-up Link -->
<div class="grid-x grid-padding-y align-center">
  <div class="small-12 cell text-center padding-vertical-3">
    <a href="/line-up/" class="h2 text-lowercase">View Full Line-up <svg class="icon icon-arrow_forward"><use xlink:href="/assets/icons/symbol-defs.svg#icon-arrow_forward"></use></svg></a>
  </div>
</div>
<!-- End Line-up Link -->